In [8]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from wrangle import wrangle_grades

In [9]:
df = wrangle_grades()
df.head()

   student_id  exam1  exam2  exam3  final_grade
0           1    100     90     95           96
1           2     98     93     96           95
2           3     85     83     87           87
3           4     83     80     86           85
4           5     93     90     96           97

array([1, 2, 3, 4, 5, 6, 7, 8, 9])